<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.huangyiming.disjob.monitor.db.mappers.DBUserMapper">
	
	<resultMap type="DBUser" id="DBUserResult">
		<result property="username" column="pk_username"/>
		<result property="roleName" column="ix_rolename"/>
  	</resultMap>
	
	<select id="findUser" parameterType="hashmap" resultMap="DBUserResult">
    	select * from ejob_job_user where pk_username=#{uname} and ix_password=#{pwd}
  	</select>
  	
  	<select id="getAllUsername" parameterType="list" resultType="string">
    	select pk_username from ejob_job_user where pk_username not in 
    	<foreach collection="list" item= "item" index ="index"
            open= "(" close =")" separator=",">
            #{item}
       </foreach >
  	</select>
</mapper>